[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = http://github.com/tpope/vim-ragtag.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/afterimage"]
	path = bundle/afterimage
	url = http://github.com/tpope/vim-afterimage.git
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = http://github.com/hallettj/jslint.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
